* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "M PLUS Rounded 1c", sans-serif;
}
header {
	width: 100%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
}
header .headline {
	font-size: 32px;
}
.nav-list {
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.container {
	/* 子要素を横並びにする */
	display: flex;
}

.main {
	background: pink;
	width: 70%;
}
.side {
	background: orange;
	width: 30%;
}
